beautifulsoup4
extruct
numpy
pandas
protobuf
python_dateutil
requests
simplejson
snowballstemmer
spacy
spacy_streamlit
streamlit
streamlit_lottie
textrazor
Unidecode
validators
w3lib
Wikipedia_API
analyzer
google-cloud 
utils 
nltk 